<div class="container">
  <main class="card">
    <div class="heading-card">
      <div class="balance">
        <p class="balance-text">My balance</p>
        <p class="balance-amount">$921.48</p>
      </div>
      <div class="image">
        <img src="../assets/images/logo.svg" alt="logo" />
      </div>
    </div>
    <div class="details-card">
      <h1 class="header">Spending - Last 7 days</h1>
      <div>
        <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="colorScheme"
          [results]="data"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showGridLines]="false"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
        >
        </ngx-charts-bar-vertical>
      </div>
      <div class="border-btm"></div>
      <div class="summary">
        <div class="total">
          <p class="total-text">Total this month</p>
          <p class="total-amount">$478.33</p>
        </div>
        <div class="stats">
          <p class="stat-rate">+2.4%</p>
          <p class="stat-text">from last month</p>
        </div>
      </div>
    </div>
  </main>
</div>
